.App {
  text-align: center;
}

.github--logo{
  margin-top: 5px;
  width: 150px;
  height: 150px;
}

.box--container{
  margin: 20px auto;
  width: 500px;
  height: 500px;
  border: 2px solid black;
  border-radius: 10px;
}

.search--input{
  margin: 25px auto;
  width: 400px;
  
  
}

.github--message{
  color: red;
  font-size: 30px;
  text-align: center;
}

.github--button{
  width: 350px;
  height: 50px;
  background-color: rgb(13, 130, 184);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.input--githubuser{
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  width: 400px;
  height: 25px;
  font-size: 22px;
  border-radius: 5px;
}